.thumbnail {
  width: 100%;
}
.thumbnails{
  margin-bottom: 8px;
  position: relative;
}

.video-time{
  color: white;
  background-color: black;
  position:absolute;
  bottom: 10px;
  right: 8px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  padding: 4px;
}

.searchbar {
  display: block;
}

.video-title {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-author,
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 69);
}

.video-author{
  margin-bottom: 4px;
}

.video-preview {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.channel-pictures {
  display: inline-block;
  width: 50px;
  vertical-align: top;
  margin-top: 10px;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.profile-picture {
  width: 36px;
  border-radius: 100%;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 801px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}